@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
body{
    margin: 0px;
    padding: 0px;
    height:100vh;
   background-color: darkgoldenrod;
   background: url(imagens/img.apresentacao.jfif);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
}
header{
    height: 120px;
    font-size: 20px;
   padding-bottom: 3px;
    font-family: DynaPuff;
    text-align: center;
    padding-top: 10px;
    margin: 0px;
    background-image: linear-gradient(to top, #75320C, #FF6E1A, #F26818, #753E1E, #C25313);
   
}
nav{
    border-radius:0px 0px 100px 100px;
    height: 20px;
    background-color: #75320C;
}
section>img{
    border-radius: 5px;
    margin-left: 5px;
   height: 425px;
  width: 1000px;
  
   
}
.esquerda{
    text-align:right;
}
h2{
    text-shadow: 2px 3px black;
    color:darkgoldenrod ;
    font-size: 40px;
}

   




